* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    color: #000;
    font-weight: 500;
}

html, body {
    width: 100%;
    height: 100%;
}

/** utility classes **/
.max-width {
    max-width: 1235px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-links {
    border-bottom: 2px solid #5f6fff00;
    transition: 0.2s ease;
}

.hover-links:hover {
    border-bottom: 2px solid #5f6fff;
}

#btn:hover {
    background-color: #000;
    color: #ffffffea;
}

.box:hover {
    background-color: #5f6fff;
    transition: 0.25s ease-in-out;
}

.box:hover h3 {
    color: #fff;
}

.box:hover p {
    color: #fff;
}

/** main page **/

.main {
    position: relative;
    overflow: hidden;
    height: 180vh;
    width: 100%;
}

/** header **/
header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #adadad;
    padding-block: 40px;
}

.header {
    justify-content: space-between;
}

/** logo **/
.logo img {
    width: 12rem;
}

/** nav content **/
.nav-content {
    gap: 30px;
}

.nav-content li {
    list-style: none;
}

.nav-content li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    padding-block: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.nav-content button {
    text-decoration: none;
    font-size: 0.78rem;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid #0000002f;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 50px;
}

.nav-content button #admin {
    text-decoration: none;
}

/** nav button **/
.nav-button #btn1 {
    font-size: 0.9rem;
    color: #fff;
    background-color: #5f6fff;
    border: 0;
    padding: 12px 32px;
    border-radius: 50px;
}

/** nav icon **/
.nav-icon {
    display: none;
}

/** about section **/
section {
    width: 100%;
    height: 110vh;
    margin-top: 40px;
    padding-block: 60px;
}

.about h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #000000c9;
    font-weight: 600;
}

.about h2 span {
    color: #00000086;
    font-weight: 400;
}

.about-section {
    width: 100%;
    gap: 50px;
    margin-top: 30px;
}

.image img {
    width: 24rem;
}

.text {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.text p {
    font-size: 0.88rem;
    width: 75%;
    color: #00000086;
}

.text h4 {
    font-size: 0.95rem;
    color: #000000d1;
    font-weight: 600;
}

.box-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 35px;
}

.box-section h2 {
    font-size: 1.35rem;
    font-weight: 400;
}

.box-section h2 span {
    color: #000000d4;
    font-weight: 600;
}

.boxes {
    width: 100%;
    border: 1px solid #e5e7eb;
}

.boxes .box {
    width: 33.33%;
    height: 220px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin: auto;
    padding-inline: 70px;
}

.boxes .box h3 {
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 600;
}

.boxes .box p {
    font-size: 0.93rem;
    font-weight: 400;
}

.boxes .div2 {
    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
}

/** footer **/
footer {
    width: 76%;
    height: 35vh;
    padding-block: 30px;
    border-bottom: 1px solid #0000004a;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%,0);
}

.footer-content {
    width: 100%;
    height: 100%;
}

/** left **/

.footer-content .left {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: flex-start;
}

.footer-content .left .image img {
    width: 11rem;
}

.footer-content .left p {
    font-size: 0.9rem;
    width: 60%;
    color: #000000c3;
    line-height: 1.6;
}

/** right **/

.footer-content .right {
    width: 50%;
    height: 100%;
}

.footer-content .right {
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 10px;
}

.footer-content .right .text h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-content .right .text h4 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

/** subfooter **/
.subfooter {
    width: 100%;
    height: 60px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.subfooter p {
    font-size: 0.85rem;
}