* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    color: #000;
    font-weight: 500;
}

html, body {
    width: 100%;
    height: 100%;
}

/** utility classes **/
.max-width {
    max-width: 1235px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-links {
    border-bottom: 2px solid #5f6fff00;
    transition: 0.2s ease;
}

.hover-links:hover {
    border-bottom: 2px solid #5f6fff;
}

#box2:hover {
    transform: translateY(-10px);
}

/** main page **/

.main {
    position: relative;
    overflow: hidden;
    height: 220vh;
    width: 100%;
}

/** header **/
header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #adadad;
    padding-block: 40px;
}

.header {
    justify-content: space-between;
}

/** logo **/
.logo img {
    width: 12rem;
}

/** nav content **/
.nav-content {
    gap: 30px;
}

.nav-content li {
    list-style: none;
}

.nav-content li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    padding-block: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.nav-content button {
    text-decoration: none;
    font-size: 0.78rem;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid #0000002f;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 50px;
}

.nav-content button #admin {
    text-decoration: none;
}

/** nav button **/
.nav-button #btn1 {
    font-size: 0.9rem;
    color: #fff;
    background-color: #5f6fff;
    border: 0;
    padding: 12px 32px;
    border-radius: 50px;
}

/** nav icon **/
.nav-icon {
    display: none;
}

/** all doctors section **/
section {
    width: 100%;
    height: 160vh;
    padding-block: 25px;
}

.all-doctors p {
    font-size: 1.03rem;
    font-weight: 400;
    color: #000000bf;
}

.all-doctors-content {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 20px;
}

/** left **/

.all-doctors-content .left {
    width: 17%;
    height: 350px;
}

.all-doctors-content .left .boxes {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}

.boxes #box {
    height: 32px;
    width: 100%;
    border: 1px solid #00000040;
    color: #000000bd;
    font-size: 0.88rem;
}

.boxes .box {
    justify-content: flex-start;
    padding-inline: 15px;
    border-radius: 4px;
}

/** right **/

.all-doctors-content .right {
    width: 83%;
    height: 90%;
}

.right .boxes2 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    row-gap: 24px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.boxes2 #box2 {
    height: 325px;
    width: calc(25% - 20px);
    border: 2px solid #eaefff;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.box2 .image {
    width: 100%;
    height: 220px;
    background-color: #eaefff;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .box2 .image img {
    width: 14rem;
    position: absolute;
    bottom: 0;
    left: 4%;
    object-fit: cover;
}

.box2 .text {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
}

.box2 .text h4 {
    color: #22c55e;
    font-size: 0.92rem;
    font-weight: 400;
}

.box2 .text h3 {
    font-size: 1.2rem;
    margin-block: 4px;
}

/** footer **/
footer {
    width: 75%;
    height: 35vh;
    padding-block: 30px;
    border-bottom: 1px solid #0000004a;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer-content {
    width: 100%;
    height: 100%;
}

/** left **/

.footer-content .left {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: flex-start;
}

.footer-content .left .image img {
    width: 11rem;
}

.footer-content .left p {
    font-size: 0.9rem;
    width: 60%;
    color: #000000c3;
    line-height: 1.6;
}

/** right **/

.footer-content .right {
    width: 50%;
    height: 100%;
}

.footer-content .right {
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 10px;
}

.footer-content .right .text h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-content .right .text h4 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

/** subfooter **/
.subfooter {
    width: 100%;
    height: 60px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.subfooter p {
    font-size: 0.85rem;
}