* {
    padding: 0;
    margin: 0;
    font-family: outfit;
}

html, body {
    width: 100%;
    height: 100%;
}

/** utility classes **/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** main page **/

.main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box {
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%,0);
    height: 340px;
    width: 400px;
    box-shadow: 1px 1px 10px #0000001d, -1px -1px 10px #0000001d;
    border-radius: 10px;
}

.box-content {
    padding: 30px 30px 25px;
    flex-direction: column;
    gap: 15px;
}

.box-content h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5f6ff5;
}

.box-content h2 span {
    color: #5e5e5e;
}

/** inputs **/
.inputs {
    flex-direction: column;
    width: 100%;
}

.inputs label {
    font-size: 0.9rem;
    color: #000000b4;
    margin-bottom: 5px;
    align-self: flex-start;
}

.inputs input {
    width: 94%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #daadad;
    padding-inline: 10px;
}

.inputs #email {
    margin-bottom: 15px;
}

/** button **/
.box-content button {
    width: 100%;
    height: 40px;
    background-color: #5f6ff5;
    color: #fff;
    font-size: 1.05rem;
    border-radius: 6px;
    border: 0;
}

/** text **/
.text {
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}

.text h3 {
    font-size: 0.93rem;
    color: #545353;
    font-weight: 400;
}

.text a {
    font-size: 0.9rem;
    color: #5f6ff5;
}