* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    overflow: hidden;
    position: relative;
}

/** utility classes **/
.max-width {
    max-width: 1230px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline {
    padding-inline: 30px;
}

.hover-links {
    border-bottom: 2px solid #5f6fff00;
}

.hover-links:hover {
    border-bottom: 2px solid #5f6fff;
}

.img-hover {
    transform: translateY(0);
}

.img-hover:hover {
    transform: translateY(-10px);
}

#btn2:hover,
#btn4:hover {
    scale: 1.04;
    transition: 0.1s ease;
}

a {
    text-decoration: none;
}

/** header **/
header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #adadad;
    padding-block: 40px;
}

.header {
    justify-content: space-between;
}

/** logo **/
.logo img {
    width: 12rem;
}

/** nav content **/
.nav-content {
    gap: 30px;
}

.nav-content li {
    list-style: none;
}

.nav-content li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    padding-block: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.nav-content button {
    text-decoration: none;
    font-size: 0.78rem;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid #0000002f;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 50px;
}

.nav-content button #admin {
    text-decoration: none;
}

/** nav button **/
.nav-button #btn1 {
    font-size: 0.9rem;
    color: #fff;
    background-color: #5f6fff;
    border: 0;
    padding: 12px 32px;
    border-radius: 50px;
}

/** nav icon **/
.nav-icon {
    display: none;
}

/** section1 **/
.section1 {
    width: 100%;
    height: 78vh;
    padding-block: 20px;
}

.section1-content {
    width: 100%;
    height: 100%;
    background-color: #5f6fff;
    border-radius: 10px;
}

/** left **/
.section1-content .left {
    width: 55%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-inline: 80px;
}

.section1-content .left h1 {
    font-size: 3rem;
    color: #fff;
}

.textimg {
    gap: 20px;
}

.textimg img {
    width: 120px;
}

.textimg p {
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
}

.left #btn2 {
    font-size: 0.9rem;
    background-color: #fff;
    border: 0;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: 300;
    color: #000000af;
    margin-top: 10px;
}

.left #btn2 i {
    font-size: 1rem;
    margin-left: 5px;
}

/** right **/
.section1-content .right {
    width: 45%;
    height: 100%;
}

.right .image {
    height: 100%;
    width: 100%;
    position: relative;
}

.right .image img {
    width: 32rem;
    position: absolute;
    bottom: 0;
    right: 15%;
}

/** section2 **/
.section2 {
    width: 100%;
    height: 45vh;
    margin-top: 20px;
    padding-block: 30px;
}

.section2-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    text-align: center;
}

.section2-content h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.section2-content p {
    font-size: 0.9rem;
    color: #000;
    width: 35%;
}

.circleimg {
    gap: 20px;
    margin-top: 20px;
}

.professional {
    transition: all 0.3s ease-in-out;
}

.professional img {
    width: 6rem;
}

.professional h5 {
    font-size: 0.75rem;
    font-weight: 300;
    color: #000;
    margin-top: 5px;
}

/** section3 **/
.section3 {
    width: 100%;
    min-height: 120vh;
    margin-top: 40px;
}

.section3-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 20px;
    text-align: center;
}

.section3-content h2 {
    font-weight: 500;
    font-size: 2rem;
}

.section3-content p {
    font-size: 0.9rem;
    margin: 15px 0 25px;
}

/** boxes **/
.doctor-team {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    align-content: flex-start;
    row-gap: 30px;
}

.box {
    width: 220px;
    height: 300px;
    border: 1px solid #0000003f;
    border-radius: 10px;
}

.box .image {
    width: 100%;
    height: 200px;
    background-color: #eaefff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box .image img {
    width: 13rem;
    height: 100%;
    object-fit: cover;
}

.box h4 {
    text-transform: capitalize;
    font-weight: 500;
    color: #22c55e;
}

.box h4 i {
    font-size: 0.9rem;
    color: #22c55e;
}

.box h3 {
    font-weight: 500;
    margin: 4px 0 3px;
}

.boxes {
    transition: all 0.3s ease-in-out;
}

.box h5 {
    font-weight: 400;
    font-size: 0.9rem;
    color: #000000ae;
}

.box-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px;
}

.section3-content #btn3 {
    padding: 12px 32px;
    font-size: 1.05rem;
    background-color: #eaefff;
    border: 0;
    border-radius: 50px;
    margin-top: 60px;
}

/** section4 **/
.section4 {
    width: 100%;
    height: 50vh;
    background-color: #5f6fff;
    margin-block: 60px;
    border-radius: 10px;
}

.section4-content {
    width: 100%;
    height: 100%;
}

/** left **/

.section4-content .left {
    width: 60%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding-inline: 80px;
    align-items: flex-start;
}

.section4-content .left h1 {
    font-size: 3rem;
    color: #fff;
}

.section4-content .left #btn4 {
    padding: 14px 32px;
    font-size: 1rem;
    background-color: #eaefff;
    border: 0;
    border-radius: 50px;
    transition: 0.3s ease;
}

/** right **/
.section4-content .right {
    width: 40%;
    height: 100%;
}

.section4-content .right .image {
    position: relative;
}

.section4-content .right .image img {
    position: absolute;
    top: -30px;
    right: 50px;
    width: 22.2rem;
}

/** footer **/
footer {
    width: 76%;
    height: 35vh;
    padding-block: 30px;
    border-bottom: 1px solid #0000004a;
}

.footer-content {
    width: 100%;
    height: 100%;
}

/** left **/

.footer-content .left {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: flex-start;
}

.footer-content .left .image img {
    width: 11rem;
}

.footer-content .left p {
    font-size: 0.9rem;
    width: 60%;
    color: #000000c3;
    line-height: 1.6;
}

/** right **/

.footer-content .right {
    width: 50%;
    height: 100%;
}

.footer-content .right {
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 10px;
}

.footer-content .right .text h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-content .right .text h4 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

/** subfooter **/
.subfooter {
    width: 100%;
    height: 60px;
}

.subfooter p {
    font-size: 0.85rem;
}